.container-father {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.country-card-border {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 15%;
  border: none;
  margin-bottom: 20px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  background-color: #7189d8;
}

.country-border-button {
  background-color: rgb(255, 255, 255);
  color: rgb(136, 134, 134);
  font-weight: 700;
}
